<section class="flex" id="header">
  <div class="flex-ac" id="div-nav">
    <ul id="nav-burger">
      <li class="li-burger"></li>
      <li class="li-burger"></li>
      <li class="li-burger"></li>
    </ul>
    <div class="flex-ac" id="div-logo">
      <img src="assets/pictures/icons/youtube.png" alt="Logo de Youtube" id="logo-yb">
      <span>YouTube</span>
    </div>
  </div>

  <div id="div-search" class="flex-ac">
    <input type="text" name="" id="input-search">
    <button class="btn-search">
      <img src="assets/pictures/icons/search.png" alt="Icône de recherche" class="img-search">
    </button>
    <button class="btn-search">
      <img src="assets/pictures/icons/micro.png" alt="Dictée vocale" class="img-search">
    </button>
  </div>

  <div class="flex-ac" id="div-icons">
    <button class="btn-icons">
      <img src="assets/pictures/icons/create.png" alt="Ajouter une vidéo" class="img-icons">
    </button>
    <button class="btn-icons">
      <img src="assets/pictures/icons/squares.png" alt="Applications Youtube" class="img-icons">
    </button>
    <button class="btn-icons">
      <img src="assets/pictures/icons/bell.png" alt="Notifications" class="img-icons">
    </button>
    <button class="btn-icons">
      <img src="assets/pictures/alex.jpeg" alt="Photo de l'utilisateur" class="img-icons" id="user-icon">
    </button>
  </div>
</section>
