<div class="video-card">
  <img src="{{videocard.image}}" alt="Image de la {{videocard.title}}" class="video-image">

  <div class="flex-ac">
    <img src="{{videocard.channelPicture}}" alt="Icône de {{videocard.channel}}" class="channel-image">
    <div>
      <p class="video-title">{{videocard.title}}</p>
      <p class="video-channel">{{videocard.channel}}</p>
      <ng-container *ngIf="videocard.isLive ; else noLive">
        <span class="video-text">{{videocard.views}}k de spectateurs • </span>
        <span class="video-text video-direct">En direct</span>
      </ng-container>
      <ng-template #noLive>
        <span class="video-text">{{videocard.views}}k de vues</span>
      </ng-template>
    </div>

  </div>
</div>

