@import '../styles.scss';

section {
  justify-content: space-between;
}
app-navigation {
  width: 20%;
  border: 1px black solid;
}

app-category {
  border: 1px solid black;
}

#over-main {
  width: 75%;
}



